@charset 'utf-8';

.wrap {
	position: relative;
	margin:0 auto;
	height: 100%;
	background: #ecf0f5;
}
/* header */
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #445eb4;
	z-index: 5;
}
.aosbox_logo {
	position: absolute;
	top: 25px;
	left: 57px;
}
.aosbox_logo span {
	display: block;
	width: 153px;
	height: 28px;
	text-indent: -9999em;
	background-image: url(../images/common/logo.png);
}
.my_link {
	position: absolute;
	top: 27px;
	right:52px;
	height: 27px;
}
.my_link a {
	float: left;
}
.my_link .my_notification {
	position: relative;
	margin-top: 5px;
	width: 20px;
	height: 22px;
	background: url(../images/common/nav_ico_is.png) no-repeat;
	background-position: -29px -55px;
}
.my_link .my_notification .bell_number {
	display: inline-block;
	position: absolute;
	top: -8px;
	right: -10px;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	background: #f57846;
	color: #ffffff;
	line-height: 20px;
}
.my_link .my_info {
	margin-left: 35px;
	width: 25px;
	height: 25px;
	background: url(../images/common/nav_ico_is.png) no-repeat;
	background-position: 0 -55px;
}

/*container*/
.container {
	display: flex;
	min-width: 960px;
	flex-direction: row;
	z-index: 0;
}

/*nav*/
nav {
	flex: 0 0 auto;
	width: 268px;
	height: 100vh;
	background-color: #ffffff;
	border-top: 80px solid #445eb4;
}
nav li {
	margin-top: 23px;
	padding: 0 20px;
}
nav ul li:first-child {
	margin-top: 18px;
}
nav li a {
	position: relative;
	display: block;
	padding: 0 0 0 47px;
	height: 40px;
	line-height: 40px;
	color: #576077;
	font-size: 15px;
	border-radius: 20px;
	overflow: hidden;
}
nav li a:hover,nav a.on {
	font-weight: bold;
	color: #ffffff;
	background: #3a8ed4;
}
nav li a .nav_ico {
	display: inline-block;
	position: absolute;
	background: url(../images/common/nav_ico_is.png) no-repeat;
}
nav li a .nav_ico.dashboard {
	top: 9px;
	left: 16px;
	width: 20px;
	height: 19px;
	background-position: 0 0;
}
nav li a.on .nav_ico.dashboard, nav li a:hover .nav_ico.dashboard {
	background-position: 0 -29px;
}
nav li a .nav_ico.reseller {
	top: 10px;
	left: 15px;
	width: 24px;
	height: 19px;
	background-position: -25px 0;
}
nav li a.on .nav_ico.reseller, nav li a:hover .nav_ico.reseller {
	background-position: -25px -29px;
}
nav li a .nav_ico.account {
	top: 8px;
	left: 19px;
	width: 16px;
	height: 21px;
	background-position: -54px 0;
}
nav li a.on .nav_ico.account, nav li a:hover .nav_ico.account {
	background-position: -54px -29px;
}
nav li a .nav_ico.plan {
	top: 11px;
	left: 16px;
	width: 21px;
	height: 18px;
	background-position: -75px 0;
}
nav li a.on .nav_ico.plan, nav li a:hover .nav_ico.plan {
	background-position: -75px -29px;
}
nav li a .nav_ico.license {
	top: 10px;
	left: 15px;
	width: 23px;
	height: 19px;
	background-position: -101px 0;
}
nav li a.on .nav_ico.license, nav li a:hover .nav_ico.license {
	background-position: -101px -29px;
}
nav li a .nav_ico.report {
	top: 11px;
	left: 18px;
	width: 17px;
	height: 15px;
	background-position: -129px 0;
}
nav li a.on .nav_ico.report, nav li a:hover .nav_ico.report {
	background-position: -129px -29px;
}
nav li a .nav_ico.settings {
	top: 10px;
	left: 13px;
	width: 20px;
	height: 20px;
	background-position: -151px 0;
}
nav li a.on .nav_ico.settings, nav li a:hover .nav_ico.settings {
	background-position: -151px -29px;
}

/* content */
.content {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
}
.content .sub_title {
	position: absolute;
	top: 81px;
	left: 0;
	padding: 31px 37px 0 40px;
	width: 100%;
	height: 78px;
	border-bottom: 1px solid #d7e4f3;
	z-index: 2;
}
.sub_title h2 {
	float: left;
	font-weight: 18px;
	color: #243673;
}
.sub_title h2 span {
	position: relative;
	display: inline-block;
	padding: 0 0 0 35px;
}
.sub_title h2 span:after {
	content: '';
	display: block;
	position: absolute;
	top:0;
	left:0;
	background: url(../images/common/sub_ico_is.png) no-repeat;
}
.sub_title h2 span.ico_reseller:after {
	width: 24px;
	height: 19px;
	background-position: 0 0;
}
.sub_title h2 span.ico_account {
	padding: 0 0 0 28px;
}
.sub_title h2 span.ico_account:after {
	width: 19px;
	height: 20px;
	background-position: -26px 0;
}
.sub_title h2 span.ico_plan {
	padding: 0 0 0 30px;
}
.sub_title h2 span.ico_plan:after {
	width: 21px;
	height: 18px;
	background-position: -47px 0;
}
.sub_title h2 span.ico_license {
	padding: 0 0 0 30px;
}
.sub_title h2 span.ico_license:after {
	width: 22px;
	height: 18px;
	background-position: -71px 0;
}
.sub_title h2 span.ico_report {
	padding: 0 0 0 30px;
}
.sub_title h2 span.ico_report:after {
	top: 1px;
	width: 18px;
	height: 15px;
	background-position: -96px 0;
}
.sub_title h2 span.ico_settings {
	padding: 0 0 0 29px;
}
.sub_title h2 span.ico_settings:after {
	width: 20px;
	height: 19px;
	background-position: -117px 0;
}
.sub_title .location {
	float: right;
	margin-top: 3px;
}
.sub_title .location span {
	display: inline-block;
	font-weight: bold;
	color: #666;
}
.sub_title .location span.gt_sign {
	margin: 0 12px;
}
.sub_title .location span.on {
	color: #445eb4;
}

/* sub_content */
.sub_content {
	padding: 18px 39px 40px;
	width: 100%;
	border-top: 158px solid #ecf0f5;
}
.sub_content .filter_wrap {
	margin-bottom: 21px;
}

