@charset 'utf-8';

/* Member Container */
#member_container {
	position: relative;
	min-height: 100vh;
	background-color: #1263A8;
}

/* Member Info */
section#member_info {
	position: absolute;
	bottom: 50%;
	right: 50%;
	width: 462px;
	padding: 40px 0px 38px;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0.819px 0.574px 92px 0px rgba(0, 0, 0, 0.25);
	transform: translate(50%,50%);
}
section#member_info h1 {
	margin-bottom: 15px;
	line-height: 1;
	text-align: center;
}
section#member_info h1 img {
	width: auto;
	height: 36px;
}
section#member_info .member_form {
	padding: 0px 57px;
}
section#member_info .member_form h2 {
	font-size: 18px;
	color: #333333;
	text-align: center;
}
section#member_info .member_form .visual {
	text-align: center;
}
section#member_info .member_form p.ask_msg {
	margin-top: 14px;
	text-align: center;
}
section#member_info .member_form p.ask_msg strong {
	color: #45A8DC;
	font-weight: normal;
}
section#member_info .member_form .visual {
	margin: 20px 0px 14px;
}
section#member_info .member_form fieldset {
	margin-top: 12px;
}
section#member_info .member_form fieldset p {
	position: relative;
	margin-bottom: 16px;
}
section#member_info .member_form fieldset p:last-child {
	margin-bottom: 0px;
}
section#member_info .member_form fieldset p.field {
	line-height: 1;
}
section#member_info .member_form fieldset p.field label {
	position: absolute;
	z-index: 2;
	top: 14px;
	right: 19px;
	display: block;
	width: 16px;
	height: 20px;
	text-indent: -9999px;
	overflow: hidden;
}
section#member_info .member_form fieldset p.field input[type="text"],
section#member_info .member_form fieldset p.field input[type="password"] {
	width: 100%;
	padding: 10px 0px 9px;
	height: 36px;
	border-radius: 0px;
	border-width: 0px 0px 2px;
	border-style: solid;
	border-color: #CCD4DC;
}
section#member_info .member_form fieldset p.field input[type="text"]:focus,
section#member_info .member_form fieldset p.field input[type="password"]:focus {
	color: #333333;
	border-color: #5581BF;
}
section#member_info .member_form fieldset p.field.condition img.ico {
	position: absolute;
	top: 17px;
	right: 13px;
}
section#member_info .member_form fieldset p.robot {
	padding: 14px 17px;
	background-color: #F5F9FD;
}
section#member_info .member_form fieldset p.error_msg {
	padding: 14px 17px;
	color: #F35458;
	background-color: #F5F9FD;
}
section#member_info .member_form fieldset p.btn_set button {
	display: block;
	width: 100%;
	padding: 20px 0px 20px;
	color: white;
	border: 1px solid #5578AA;
	border-radius: 4px;
	background-color: #136bb5;
}
section#member_info .member_form fieldset p.btn_back button {
	display: block;
	width: 100%;
	padding: 8px 0px 8px;
	color: #6b8ca8;
	border: 1px solid #dae6ef;
	border-radius: 4px;
	background-color: #edf3f8;
	background-image: url(../images/member/ico_back.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
section#member_info .member_form fieldset p.login_info_save {
	margin-top: 16px;
	text-align: left;
}
section#member_info .member_form fieldset p.login_info_save label input[type="checkbox"] {
	position: relative;
	top: -2px;
	margin-right: 4px;
}
section#member_info .member_form fieldset p.login_info_save a {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #136bb5;
}
section#member_info .member_form fieldset p.login_info_save a:hover,
section#member_info .member_form fieldset p.login_info_save a:focus {
	text-decoration: underline;
}
section#member_info .member_form fieldset p.find_password a {
	color: #47A1EE;
	border-bottom: 1px solid #47A1EE;
}
section#member_info p.copyright {
	margin-top: 28px;
	text-align: center;
	color: #999999;
}

/* Agree Member Container */
#window_popup {
	min-width: auto;
}
#agree_container {
	margin-bottom: 60px;
}
#agree_container h1 {
	padding: 20px;
	border-bottom: 1px solid #B9BDC5;
	background: #FFF;
}
#agree_container h3 {
	margin-bottom: 20px;
	color: #136bb5;
}
#agree_container #terms {
	padding: 20px;
}
#agree_container + footer#footer {
	position: fixed;
	width: 100%;
	padding: 0 0 20px 0;
	bottom: 0;
}
#agree_container + footer#footer p.copyright{
	padding-left: 20px;
}
#agree_container + footer#footer ul{
	right: 20px;
}